TWELVE_DATA_API_KEY=your_twelve_data_key
ADMIN_PASSCODE=change_me
FLASK_SECRET_KEY=change_me

GITHUB_TOKEN=ghp_your_token
GIST_ID=your_gist_id
GIST_FILENAME=tunnel_url.txt

CLOUDFLARED_PATH=./cloudflared

QUOTEX_EMAIL=you@example.com
QUOTEX_PASSWORD=your_quotex_password
# QUOTEX_2FA_CODE=123456

# CLOUDFLARE_TUNNEL_TOKEN=your_named_tunnel_token